button.btn-lectura {
    font-size: 2rem;
}
section.section--contacto {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
div.div--contacto {
    background-color: $amarillo-claro;
    border-radius: 0.75rem;
    padding: 1rem;
    order: 1;
}
div.div--contacto--side {
    text-align: center;
    padding: 1rem;
    order: 2;
}
div.div--texto {
    width: 90%;
}
form.form--contacto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 1.5rem;
}
img.img--ubi {
    max-width: 80%;
}
select.select--operacion {
    max-width: 200px;
}
@media only screen and (min-width: 992px) {
    section.section--contacto {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
    div.div--texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    textarea.textarea--contacto {
        width: 75%;
    }
    div.div--contacto {
        width: 50%;
        padding: 1rem;
        order: 1;
    }
    div.div--contacto--side {
        width: 50%;
        padding: 1rem;
        border-left: 1px $naranja;
        order: 2;
    }
    form.form--contacto {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 1.5rem;
    }
}