$naranja: #F5842A;
$naranja-claro: #fdd4b9;
$naranja-puerta: #ff9966;
$amarillo-claro: #ffecc3;
$celeste: #0091A8;
$marron: #792600;
$gris: #b8b8b8;
$naranja-transp : #f5842a2a;
$blanco : #ffffff;
$gris-claro: #ebebeb;